body
{
    background-color: #f1f8e9;
}

#logo
{
    margin-top: 20px;
    margin-left: 50px;
}

#content
{
    max-width: 800px;
}

#dropdown1
{
    width: 250px;
}

.contenido
{
    text-align: center;
}

.slider
{
    width: 80%;
}
.collapsible .collapsible-header
{
    border: solid 1px #b3cc97;
}

.createPost
{
    width: 80%;
}

#nuevoPost
{
    margin: 10px;
}

#completo
{
    width: 80%;
    margin-top: 10px;

    text-align: center;
}

#cajaNoticias
{
    margin: 10px auto 10px auto;
    width: 80%;
}

.header-noticia
{
    border-bottom: solid 1px black;
}

.body-noticia
{
  padding-left: 20px;
  text-align: left;
  border-bottom: solid 1px black;
}
.comentarios
{
    margin-top: 20px;
}

.nuevoComentario{
  border-bottom: solid 1px black;
}

#espacioPost{
  width: 80%;
}

#dropdown1 a{
  color: black;
}
footer{
  color: black;
}

footer a{
  color: black;
  text-decoration: underline;
}

#cajaTabla{
  width: 80%;
}

#signIn{
  width: 80%;
}
.contenidoComentario{
  padding: 10px;
}

.tituloPost{
  background-color: #c5e1a5;
  text-align: center;
  border-radius: 4px;
}

.textoPost{
  padding-left: 20px;
  padding-right: 10px;
  padding-top: 20px;
}

thead{
    background-color: #ffe0b2;
}

#infoAbout{
  text-align: center;
}

#insertaComentario, #smileButton{
  margin-top: 5px;
}

.imgPost{
  max-width: 300px;
  height: auto;
  padding-top: 10px;
}

.imgPostSmall{
  max-width: 150px;
  height: auto;
  padding-top: 10px;

}

.imgComentario{
  float: left;
  width: 100px;
}

.visualizarNoticia{
  background-color: #c5e1a5;
  border-color: #c5e1a5;
}

.bNoticia{
  background-color: #ef9a9a;
  border-color: #ef9a9a;
}

.smileyTable *{

  width: 300px;
}

.pagination *{
  margin-left: 5px;
}
